.A1 {
    background-color: blueviolet;
    text-align: center;
}

.p1 {
    background-color: bisque;
    color: red;
}

.p2 {
    background-color: yellowgreen;
    color: red;
}

.p3 {
    background-color: yellowgreen;
    color: orange;
}